.aside {
  width: 50px;
  background: hsl(204, 15%, 94%);
  height: 100%;
  &._opened {
    min-width: 200px;
    width: max-content;
    .aside__list {
      display: block;
    }
    .aside__top {
      position: relative;
      height: 51px;
      &-btn {
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        position: absolute;
        margin: 0;
        width: 14px;
        overflow: hidden;
      }
    }
  }
  ._hidden {
    display: none;
  }
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    &._opened {
      display: flex;
      align-items: center;
    }
    &-btn {
      cursor: pointer;
      margin: 0 auto;
      display: block;
      border: none;
      outline: none;
      svg {
        display: block;
      }
    }
    &-title {
      flex: 1;
      text-align: center;
      color: $text-color;
    }
  }
  &__content {
    padding: 20px 15px;
    width: 100%;
    max-width: 200px;
  }
  &__list {
    display: none;
    list-style-type: none;
    &-item {
      display: grid;
      grid-template-columns: 7px 1fr;
      gap: 11px;
      align-items: center;
      cursor: pointer;
      padding: 2px 0 2px 15px;
      border-radius: 3px;
      margin-top: 6px;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
      &::before {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        background: #000;
        border-radius: 50%;
        transition: background 0.2s ease-in-out;
      }
      &:hover {
        color: #fff;
        background: $main-color;
        &::before {
          background: #fff;
        }
      }
      &._active {
        color: #fff;
        background: $main-color;
        &::before {
          background: #fff;
        }
      }
    }
  }
}
