.main {
  width: 100%;
  height: 100vh;
  &__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    padding: 0 16px;
    #testClose {
      cursor: pointer;
    }
    &-subtitle {
      color: #cfcfcf;
      font-size: 15px;
      font-weight: 700;
    }
    &-title {
      color: #263238;
      font-size: 16px;
      font-weight: 700;
    }
    &-dropdown {
      &__container {
        position: relative;
      }
    }
    &-func {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      &._mobile {
        top: 20px;
        padding: 5px;
        position: absolute;
        flex-direction: column;
        gap: 2px;
        background: #fff;
        #testCounter {
          border: none;
        }
      }
      #resetTest {
        cursor: pointer;
      }
      #testCounter,
      #testTimer {
        text-align: center;
      }
      #testCounter {
        padding: 0 10px;
        border-left: 1px solid #8d8d8d;
        border-right: 1px solid #8d8d8d;
      }
    }
  }
}

input[type='radio'] {
  accent-color: $main-color;
}

@import './MainInitial';
@import './MainSelected';
@import './MainStarted';
@import './MainFinished';
